*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#img_bg{
    opacity:  blue 0.2 ;
}