* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.5s all ease;
    -webkit-transition: 00.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    background-color: rgb(247, 245, 245); 
}
.logo {
    font-family: inherit;
    display: inline-block;
    padding: 2px 10%;
    margin-bottom: -10rem;
    position: relative;
}
h1{
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.hdr{
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_link{
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: black;
}
.nav_link li {
    float: right;
    text-align:center; 
    padding: 14px 5px;
    position: relative;
}
.nav_link a{
    float: right;
    color: #f2f2f2;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10rem;
    margin-top: -2rem;
}

.nav_link a:hover {
    background-color: rgb(243, 224, 77);
    color: rgb(14, 4, 4);
    border-bottom: 3px solid rgb(241, 241, 241);
}

/*mobile view*/

.mobile-view span{
    color:white;
    font-size: 2.5rem;
    float: right;
    cursor:pointer;
    position:absolute;
}
.mobile-view .close-btn{
    color: white;
    font-size: 3.5rem;
}
.mobile-view .overlay{
    width: 0px;
    color: white;
    height: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    background: rgba(0, 0, 0, 0.35);
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition:0.5s;
}

/*--Articles--*/

.container_full {
    width: 100%;
    margin-top: 3rem;
    padding: 3rem ;
    
}
.content_border{
    border-top: .5rem solid rgb(0, 0, 243);
    margin-top: .5rem;
    border: 5px solid rgb(70, 67, 67);
}
.left_content {
    background-color: white;
    width: 62rem;
    margin: 2rem 4rem;
    padding: 2% 3%;
    border-right: 5px rgb(75, 72, 72);
}
h2, h3, h4, h5, h6 {
    color: rgb(37, 37, 37);
    font-weight: bold;
    margin: 5px;
    padding: 2px;   
}
.left_content .single_article{
    margin-bottom: 10rem;
}
.left_content .single_article .p_home{
    color: rgb(12, 87, 156);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: rgb(19, 18, 18);
    margin: 2rem 4%;
}
.left_content .single_article .btn{
    color: rgb(100, 97, 97);
    font-family: inherit;
    font-weight: bold;
    margin: 1.5rem 0;
}
.left_content .single_article h2{
    font-family: inherit;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.left_content  .single_article p{
    font-family: inherit;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.left_content .single_article ul{
    font-family: inherit;
    margin: 1rem 10%;
}
.left_content .single_article .social_btn{
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: inherit;
    margin: 10rem 20%;
    margin-bottom: 10rem;
    float: left;
}
.left_content .single_article .social_btn .social_btn1{
font-family: inherit;
font-weight: 4px;
text-decoration: none;
background-color: rgb(255, 0, 149);
text-decoration: none;
margin-right: .8rem;
padding: .5rem 1.5rem;
}
.left_content .single_article .social_btn .social_btn2{
font-family: inherit;
font-weight: 4px;
text-decoration: none;
 background-color: rgb(255, 0, 149);
text-decoration: none;
margin-right: .8rem;
padding: .5rem 1.5rem;
}

.left_content .single_article .social_btn .social_btn3{
font-family: inherit;
font-weight: 4px;
text-decoration: none;
background-color: rgb(255, 0, 149);
text-decoration: none;
margin-right: .8rem;
padding: .5rem 1.5rem;
}

.left_content .single_article .social_btn .social_btn4{
    font-family: inherit;
    font-weight: 4px;
    text-decoration: none;
    background-color: rgb(252, 71, 71);
    text-decoration: none;
    margin-right: .8rem;
    padding: .5rem 1.5rem;
    }
.left_content .single_article .auther{
    background-color: rgb(117, 114, 114);
    margin-top: 15rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    width: 40rem
     
}
.left_content .single_article .auther .auher_img{
    width: 4rem;
    word-wrap: break-word;
    align-items: left;
    background-color: white;
    ;
}

/*--Sidebar*/
.aside{
    font-family: inherit;
    float: right;
    width: 45rem;
    border: 2px solid rgb(99, 98, 98);
    background: white;
    margin: 4rem 4rem;
}

.aside .sidebar_wrapper {
font-family: inherit;
background-color: ivory;
border: 0.1rem solid #5a5959;
width: 80%;
}

.aside .sidebar_wrapper .search{
    background-color: rgb(7, 7, 7);
    float: right;
    border: 0.1rem solid #c2c1c1;
    margin-top: -124rem;
    margin-left: 20rem;
    padding: 3rem 0;
    position: absolute;
    text-transform: uppercase;
}
.aside .sidebar_wrapper .search input{
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    color: #888686;
    border: 0.1rem solid #272727;
    text-transform: uppercase;
    background-color: #f8f8f8;
    padding: 1rem 1rem;
    margin: 1rem 7rem;
}

.aside .sidebar_wrapper .search .btn1{
    background-color: blue;
    color: white;
    text-align: center;
    border: 0.1rem solid #272727;
    padding: 1rem 2rem;
    margin: 1rem 7rem;
}
.aside .sidebar_wrapper .search .btn2{
    text-decoration: none;
    color: white;
    width: 3rem;
    font-weight: bold;  
}

/*--aside2--*/
.aside .sidebar_wrapper .search2 h2{
    font-family: inherit;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: #f8f8f8;
    margin-left: 5rem;
    padding: 3rem 1rem;
    position: absolute;
    text-transform: uppercase; 
}
.clr{
    clear: both;
}
.aside .sidebar_wrapper .search2 img{
    width: 10px;

}
