.container{
    max-width: 768px;
}
.card-header{
    background-color: #022E7E;
}
.btn-link{
    color: white;
}
.btn-link:hover{
    color: yellow;
}
h2 {
text-align: center;
}
.background{
    background-color: green;
    padding: 20px;
    color: white;
    font-weight: bold;
}